<script>
  import * as navigo from "/node_modules/navigo/lib/navigo.min.js"
  const state = { page: "index" }

  const methods = {
    displayPage(name, params) {
      this.render({ page: name, ...params })
    },
  }

  function connected() {
    const router = new Navigo("", { hash: false })
    router.on("", () => this.displayPage("index"))
    router.on("/pourvoyeur", () => this.displayPage("provider-form"))
    router.on("/ressources-pedagogiques", () => this.displayPage("learn"))
    router.on("/organisation/:id", ({ data: { id } }) => {
      this.displayPage("organisation", { id })
    })
    router.on("/poi/:id", ({ data: { id } }) => {
      this.displayPage("poi-form", { id })
    })
    router.resolve()
  }
</script>

<template>
  <lg-header></lg-header>
  <main>
    <page-index :if="state.page === 'index'"></page-index>
    <page-provider-form :if="state.page === 'provider-form'"></page-provider-form>
    <page-learn :if="state.page === 'learn'"></page-learn>
    <page-organisation :if="state.page === 'organisation'" :id="state.id"></page-organisation>
    <page-404 :if="state.page === '404'"></page-404>
    <page-poi-form :if="state.page === 'poi-form'" :id="state.id"></page-poi-form>
  </main>
  <lg-footer></lg-footer>
</template>
