<script>
  import * as navigo from "/node_modules/navigo/lib/navigo.min.js"
  const state = { page: "" }

  const methods = {
    displayPage(name) {
      this.render({ page: name })
    }
  }

  function connected() {
    const router = new Navigo('/', { hash: true })
    router.on('/', () => this.displayPage("index") )
    router.on('/carte', () => this.displayPage("map") )
    router.resolve()
  }
</script>

<template>
    <lg-header></lg-header>
    <main>
      <page-index :if="state.page === 'index'"></page-index>
      <page-map :if="state.page === 'map'"></page-map>
      <page-404 :if="state.page === '404'"></page-404>
    </main>
    <lg-footer></lg-footer>
</template>
