<template>
  <footer class="fr-footer" id="footer">
    <div class="fr-container">
      <div class="fr-footer__body">
        <div class="fr-footer__brand fr-enlarge-link">
          <a
            href="https://agriculture.gouv.fr/"
            title="Accueil - Ministère de l'Agriculture et de la Souveraineté alimentaire"
          >
            <p class="fr-logo">
              Ministère<br />de l'Agriculture<br />de la Souveraineté<br />alimentaire et de la fôret
            </p>
          </a>
        </div>
        <div class="fr-footer__content">
          <ul class="fr-footer__content-list">
            <li>
              <a
                href="https://www.legifrance.gouv.fr/"
                target="_blank"
                class="fr-footer__content-link"
                rel="external nofollow noreferrer noopener"
                title="legifrance.gouv.fr - Ouverture dans une nouvelle fenêtre"
                >legifrance.gouv.fr</a
              >
            </li>
            <li>
              <a
                href="https://www.info.gouv.fr/"
                target="_blank"
                rel="external nofollow noreferrer noopener"
                class="fr-footer__content-link"
                title="info.gouv.fr - Ouverture dans une nouvelle fenêtre"
                >info.gouv.fr</a
              >
            </li>
            <li>
              <a
                href="https://www.service-public.fr"
                target="_blank"
                rel="external nofollow noreferrer noopener"
                class="fr-footer__content-link"
                title="service-public.fr - Ouverture dans une nouvelle fenêtre"
                >service-public.fr</a
              >
            </li>
            <li>
              <a
                href="https://www.data.gouv.fr/fr/"
                class="fr-footer__content-link"
                rel="external nofollow noreferrer noopener"
                target="_blank"
                title="data.gouv.fr - Ouverture dans une nouvelle fenêtre"
                >data.gouv.fr</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="fr-footer__bottom">
        <ul class="fr-footer__bottom-list">
          <li class="fr-footer__bottom-item">
            <a
              href="https://agriculture.gouv.fr/node/99543"
              class="fr-footer__bottom-link"
              rel="external nofollow noreferrer noopener"
              target="_blank"
              title="Acceo - Ouverture dans une nouvelle fenêtre"
              >Acceo</a
            >
          </li>
          <li class="fr-footer__bottom-item">
            <a
              href="https://agriculture.gouv.fr/plan-du-site"
              target="_self"
              class="fr-footer__bottom-link"
              data-drupal-link-system-path="plan-du-site"
              >Plan du site</a
            >
          </li>
          <li class="fr-footer__bottom-item">
            <a
              href="https://agriculture.gouv.fr/declaration-daccessibilite-du-site-agriculturegouvfr"
              class="fr-footer__bottom-link"
              data-drupal-link-system-path="node/86702"
              >Accessibilité : non conforme</a
            >
          </li>
          <li class="fr-footer__bottom-item">
            <a
              href="https://agriculture.gouv.fr/questions-frequentes-contacts"
              class="fr-footer__bottom-link"
              data-drupal-link-system-path="node/86622"
              >Questions fréquentes / Contacts</a
            >
          </li>
          <li class="fr-footer__bottom-item">
            <a
              href="https://agriculture.gouv.fr/informations-publiques"
              class="fr-footer__bottom-link"
              data-drupal-link-system-path="node/86621"
              >Informations publiques</a
            >
          </li>
          <li class="fr-footer__bottom-item">
            <a
              href="https://agriculture.gouv.fr/rss.xml"
              class="fr-footer__bottom-link"
              data-drupal-link-system-path="rss.xml"
              >Flux RSS</a
            >
          </li>
          <li class="fr-footer__bottom-item">
            <a
              href="https://agriculture.gouv.fr/mentions-legales"
              class="fr-footer__bottom-link"
              data-drupal-link-system-path="node/62837"
              >Mentions légales</a
            >
          </li>
          <li class="fr-footer__bottom-item">
            <a
              href="https://agriculture.gouv.fr/mots-cles/archives-presse"
              class="fr-footer__bottom-link"
              data-drupal-link-system-path="taxonomy/term/3524"
              >Archives presse</a
            >
          </li>
          <li class="fr-footer__bottom-item">
            <a
              href="https://agriculture.gouv.fr/english-contents"
              class="fr-footer__bottom-link"
              data-drupal-link-system-path="node/87159"
              >English contents</a
            >
          </li>
          <li class="fr-footer__bottom-item">
            <a href="#" class="fr-footer__bottom-link tarteaucitronOpenPanel">Cookies</a>
          </li>
        </ul>

        <div class="fr-footer__bottom-copy">
          <p>Sauf mention contraire, tous les textes de ce site sont sous licence etalab-2.0</p>
        </div>
      </div>
    </div>
  </footer>
</template>
