<template>
  <header role="banner" class="fr-header">
    <div class="fr-header__body">
      <div class="fr-container">
        <div class="fr-header__body-row">
          <div class="fr-header__brand fr-enlarge-link">
            <div class="fr-header__brand-top">
              <div class="fr-header__logo">
                <a href="/" title="Ministère de l'Agriculture et de la Souveraineté alimentaire">
                  <p class="fr-logo">
                    Ministère <br />de l'Agriculture <br />de la Souveraineté <br />alimentaire et de la fôret
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-491" aria-labelledby="button-492">
      <div class="fr-container">
        <button class="fr-btn--close fr-btn" aria-controls="modal-491" title="Fermer">Fermer</button>
        <div class="fr-header__menu-links"></div>
        <nav class="fr-nav" id="navigation-494" role="navigation" aria-label="Menu principal">
          <ul class="fr-nav__list">
            <li class="fr-nav__item"><a class="fr-nav__link" href="/" target="_self">Le projet</a></li>
            <li class="fr-nav__item">
              <a class="fr-nav__link" href="/#carte-chantiers" target="_self">Rechercher un chantier pédagogique</a>
            </li>
            <li class="fr-nav__item">
              <a class="fr-nav__link" href="/pourvoyeur">Proposer un chantier pédagogique</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</template>
