<script>
  let map = null

  const methods = {
    localize(maxZoom = 10) {
      map.locate({ setView: true, maxZoom })
    }
  }
  async function connected() {
    const pois = await store.actions.loadPois()
    map = L.map(this.document.querySelector("#map")).setView([46.8,3.4], 6)

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map)
    const treeIcon = L.icon({ iconUrl: "/assets/images/tree-icon.png", iconSize: [20, 30], iconAnchor: [10, 30] })
    pois.forEach((poi) => 
      L.marker([poi.latitude, poi.longitude], { icon: treeIcon })
      .bindPopup(`
        ${poi.logo?.id
          ? '<img src="https://admin.1jeune1arbre.fr/assets/'+poi.logo.id+'?key=system-small-contain">'
          : ''
        }
        <h2><a href="#/pourvoyeur/${poi.provider.id}">${poi.title}</a></h2>
        <p>${poi.description}</p>
        <address>${poi.department} (${poi.region})</address>
        <p>Prendre contact</p>
        <ul>
          <li :if="poi.phone">tél : ${poi.provider.phone}</li>
          <li :if="poi.email">email : <a href="mailto:${poi.website}?subject=1 jeune 1 arbre…">${poi.email || poi.provider.user.email}</a></li>
          <li :if="poi.provider.website">site internet : <a href="${poi.provider.website}" target="_blank">${poi.provider.website}</a></li>
        </ul>
        <a class="fr-btn fr-btn--primary" href="#/pourvoyeur/${poi.provider.id}">Fiche du pourvoyeur</a>
      `)
      .addTo(map)
    )
  }
</script>

<template>
  <div id="map"></div>
</template>

<style>
  #map {
    height: 500px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  h2 {
    color: inherit !important;
  }
</style>
