<script>
	const state = { partners: [] }

	async function connected() {
		const partners = await store.actions.loadPartners()
		this.render({ partners })
	}
</script>

<template>
	<div class="fr-container">
		<div class="fr-grid-row">
			<figure :for="partner in state.partners" class="fr-col-3 fr-p-2v">
				<a href="#/pourvoyeur/${partner.id}">
					<img src="http://admin.1jeune1arbre.fr/assets/${partner.logo?.id}" :alt="partner.title">
				</a>
			</figure>
		</div>	
	</div>
</template>

<style>
	a {
		background: none !important;
	}
	a::after {
		display: none !important;
	}
</style>
