<script>
  const state = {
    suggestions: [],
    schoolInput: "",
    postCode: "",
  }

  const methods = {

    async getSchools() {
      if (!state.postCode) return
      const schools = await store.actions.fetchSchools(state.schoolInput, state.postCode)
      state.suggestions = schools
      this.render({ suggestions: schools })
    },
    updateSchool(event) {
      const schoolInput = event.target.value
      if (schoolInput.length < 2) {
        state.suggestions = []
        this.render({ suggestions: state.suggestions })
        return
      }
      state.schoolInput = schoolInput
      this.render({ ...state, schoolInput })
    },
    updatePostcode(event) {
      const postCode = event.target.value
      state.postCode = postCode
      this.render({ ...state, postCode })
    },
  }
</script>

<template>
  <div class="fr-grid-row fr-mb-3">
    <div class="fr-col-12 fr-col-md-8">
        <input
          @input="updatePostcode"
          type="text"
          id="postcodeInput"
          placeholder="Entrez votre code postal..."
          class="fr-input fr-mr-2 fr-col-6"
        />
        <input
          @input="updateSchool"
          type="text"
          id="schoolInput"
          placeholder="Recherchez un établissement ici..."
          class="fr-input fr-mr-2 fr-col-6"
        />
        <button @click="getSchools" class="fr-btn fr-btn--primary fr-col-3">Rechercher</button>
      </div>
    </div>
    <div class="fr-col-12">
      <select id="suggestions" :if="state.suggestions.length > 0" class="fr-select fr-col-6">
        <option value="" disabled selected hidden>...et sélectionnez votre établissement ici.</option>
        <option :for="school in state.suggestions" @click="selectSchool" value="${school.name}">
          ${ school.name }, ${ school.city}
        </option>
      </select>
    </div>
  </div>
</template>
