<script>
  const state = {
    suggestions: [],
    test: [{ name: "test" }, { name: "test" }],
  }

  const methods = {
    selectSchool(school) {
      /*
      document.getElementById("schoolInput").value = school.name
      this.state.suggestions = []
      console.log("Selected school ID:", school.id)

      */
      console.log("hello")
    },
    async getSchools(event) {
      const query = event.target.value
      if (query.length < 2) {
        state.suggestions = []
        this.render({ suggestions: state.suggestions })
        return
      }
      const schools = await store.actions.fetchSchools(query)
      console.log("schools:", schools)
      state.suggestions = schools
      this.render({ suggestions: schools })
      console.log("state:", state.suggestions)
    },
  }
</script>

<template>
  <div>
    <h1>School Autocomplete</h1>

    <input type="text" id="schoolInput" placeholder="Type a school name..." @input="getSchools" />

    <ul id="suggestions" :if="state.test.length > 0">
      <li :for="school in state.test">${ school.name }</li>
    </ul>
  </div>
</template>
