<template>
  <div class="fr-container fr-py-6w">
    <div class="fr-grid-row">
      <div class="fr-col-8">
        <section>
          <h1>Pourquoi planter des arbres en France ?</h1>
          <p>
            Les forêts francaise sont sources de biodiversité, elles enrichissent nos sols, améliorent la qualidade l'eau
            et de l'air. Elles offrent aussi des espaces de loisirs et des emplois.
          </p>
          <p>
            Cependant, le changement climatique, les maladies et les catastrophes naturelles répétées menacent ces espaces
            naturels. En France, on estime à 15%, soit 2.6 millions d'hectares, les surfaces concernées par ces crises.
          </p>
          <p>
            En assistant la régénération naturelle ou en replantant en plein, nous assurons le renouvellement et
            l'adaptabilité de ces écosystèmes. D'ici 2032, il est prévu de planter 1 milliard d'arbre ce qui revient à
            renouveler 10% de la forêt métropolitaine.
          </p>
          <p>
            Ainsi, en France, la plantation d'arbres fait partie d'une démarche proactive qui vise à concilier protection
            de l'environnement, développement économique et adaptation au changement climatique. Ces plantations ne se
            limitent donc pas à un simple geste symbolique car elles participent activement à la gestion durable de nos
            forêts.
          </p>
          <p>
            Enfin, planter des arbres renforce notre lien avec la nature, en particulier pour les jeunes générations.
            Impliquer les élèves dans des chantiers de plantation permet de les sensibiliser aux enjeux environnementaux
            tout en les éduquant aux pratiques durables.
          </p>
        </section>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-2 fr-sm-12">
        <img src="/assets/images/logo-teragir.png" alt="Teragir">
      </div>
      <div class="fr-col-6">
        <p>
          Teragir est une association soutenue par le ministère de l'agriculture dédiée à la sensibilisation à
          l'environnement et à la gestion durable des ressources forestières. L'ensemble des contenus pédagogiques ont
          été validé par le ministère de l'éducation national et l'interprofession forestière
        </p>
        <button class="fr-btn"><a href="https://la-foret-et-nous.org/enseignants/" target="_blank">Ressources pédagogiques de TERAGIR</a></button>
      </div>
    </div>
  </div>
</template>
