<script>
  const state = { sent: false, isPoiFormOpen: false }
  const methods = {
    localize() {
      this.document.querySelector("lg-map").localize(10)
    },

    async sendMail(event) {
      event.preventDefault()
      const values = Array.from(event.target.elements)
        .filter((input) => input.name)
        .reduce((accumulateur, input) => {
          accumulateur[input.name] = input.value
          return accumulateur
        }, {})
      const created = await store.actions.saveSchoolDemand(values)
      if (created) this.render({ sent: true })
    },
    togglePoiFormModal() {
      const newValue = !state.isPoiFormOpen
      state.isPoiFormOpen = newValue
      this.render({ isPoiFormOpen: newValue })
    },
  }
</script>

<template>
  <div class="hero__startup fr-container-fluid fr-py-6w">
    <!-- <lg-test @toggle="togglePoiFormat"></lg-test>-->
    <!--<lg-poi-form-modal :if="state.isPoiFormOpen === true" @toggle="togglePoiFormModal"></lg-poi-form-modal>-->
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
        <figure class="fr-content-media fr-m-0 fr-col-5" role="group" aria-label="">
          <div class="fr-content-media__img">
            <img
              class="fr-responsive-img image-style-node-visuel"
              src="https://agriculture.gouv.fr/sites/default/files/styles/node_visuel/public/vignette%20CP%201%20jeune%201%20arbre.jpg"
              width="400"
              alt="Logo 1 jeune 1 arbre"
              loading="lazy"
              typeof="foaf:Image"
              data-fr-js-ratio="true"
            />
          </div>
          <figcaption class="fr-content-media__caption" id="legend-file-147926"></figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div class="fr-container">
    <section class="fr-grid-row fr-grid-row--gutters fr-py-8w">
      <h1>Vous êtes enseignant au collège ?</h1>
      <div class="fr-col-12">
        <!-- <p class="c-head__metas">
          <span>28 février 2024</span>
          Communiqué de presse
        </p> -->
        <h2 class="fr-mb-8v">Faites participer vos élèves à un chantier de plantation !</h2>
        <p>
          Accompagnés par des professionnels locaux, vos élèves pourront participer à des plantations pour mieux
          comprendre les  les enjeux environnementaux liés à l’arbre et au renouvellement forestier.
        </p>
        <p>
          Avec la plateforme « 1 Jeune 1 Arbre » accédez à un panel d'offres de chantiers pédagogiques proposés par nos
          partenaires et prenez contact avec eux afin d’organiser votre sortie scolaire.
        </p>
        <p>Ces chantiers sont ouverts de l'automne au printemps, en fonction des essences et des territoires.</p>
        <p>
          Vous trouverez ci-dessous une carte géolocalisant des chantiers de plantation d'arbres en forêt, en campagne
          (haies, vergers…), ou en zone urbaine.
        </p>
        <p>
          Dans le cadre de cette opération, les plants sont fournis mais le déplacement des élèves sur le site de
          plantation n’est pas financé.
        </p>
      </div>
    </section>

    <section class="fr-grid-row fr-grid-row--gutters fr-py-8w" id="carte-chantiers">
      <div class="fr-col-12">
        <h2>Trouver un chantier à proximité de mon établissement</h2>
        <div class="fr-grid-container">
          <div class="fr-grid-row fr-py-2w">
            <div class="fr-col-2">
              <button class="fr-btn fr-btn--primary" @click="localize">Voir autour de moi</button>
            </div>
            <div class="fr-col-7"></div>
            <div class="fr-col-3">
              <a class="fr-btn fr-btn--secondary" href="/pourvoyeur">Je souhaite proposer un chantier</a>
            </div>
            <!-- <div class="fr-col-6">
              <div class="fr-search-bar fr-my-2w" id="header-search" role="search"> <label class="fr-label"
                  for="search-784-input"> Recherche
                </label> <input class="fr-input" placeholder="Saisissez votre commune" type="search" id="search-784-input"
                  name="search-784-input">
                <button class="fr-btn" title="Rechercher">Rechercher</button>
              </div>
            </div> -->
            <div class="fr-col-12">
              <lg-map></lg-map>
            </div>
          </div>
        </div>
      </div>

      <div class="fr-col-12 fr-container">
        <p>
          Vous ne trouvez pas de chantier à proximité de votre établissement scolaire ? Vous pouvez remplir le
          formulaire ci-dessous pour signaler votre souhait de participer à un chantier de plantation pédagogique.
        </p>

        <form class="fr-grid-row" @submit="sendMail">
          <div class="fr-col-6 fr-p-2v">
            <label class="fr-label" for="contact_name_input">Nom / Prénom</label
            ><input class="fr-input" type="text" id="contact_name_input" name="contact_name" required />
          </div>
          <div class="fr-col-6 fr-p-2v">
            <label class="fr-label" for="email_input">Mail</label
            ><input class="fr-input" type="email" id="email_input" name="email" required />
          </div>
          <div class="fr-col-6 fr-p-2v">
            <label class="fr-label" for="city_input">Commune de l’établissement</label
            ><input class="fr-input" type="text" id="city_input" name="city" required />
          </div>
          <div class="fr-col-6 fr-p-2v">
            <label class="fr-label" for="school_name_input">Nom de l'établissement</label
            ><input class="fr-input" type="text" id="school_name_input" name="school_name" required />
          </div>
          <div class="fr-col-6 fr-p-2v">
            <label class="fr-label" for="department_input">Dans quel département souhaitez-vous planter ?</label
            ><input class="fr-input" type="text" id="department_input" name="department" required />
          </div>
          <div class="fr-col-12 fr-py-2v">
            <button type="submit" class="fr-btn fr-btn--primary">Envoyer ma demande</button>
          </div>
        </form>
        <div :if="state.sent" class="fr-alert fr-alert--success">
          <h3 class="fr-alert__title">Votre demande est envoyée</h3>
          <p>Vous serez très prochainement recontacté par l'organisateur du chantier.</p>
        </div>
      </div>
    </section>

    <section>
      <h3>Nos partenaires</h3>
      <lg-partners></lg-partners>
    </section>
  </div>
</template>
