<template>
  <div class="hero__startup fr-container-fluid fr-py-6w">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="">
          <h1>1 Jeune 1 Arbre</h1>

          <p class="hero__startup__mission fr-mt-3w fr-h3">
            Simplifier la plantation d'arbres par les scolaires
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-4">
        <figure class="fr-content-media fr-m-0" role="group" aria-label="">
          <div class="fr-content-media__img">
            <img
              class="fr-responsive-img image-style-node-visuel"
              src="https://agriculture.gouv.fr/sites/default/files/styles/node_visuel/public/vignette%20CP%201%20jeune%201%20arbre.jpg"
              width="400"
              alt="Logo 1 jeune, 1 arbre"
              loading="lazy"
              typeof="foaf:Image"
              data-fr-js-ratio="true"
            />
          </div>
          <figcaption
            class="fr-content-media__caption"
            id="legend-file-147926"
          ></figcaption>
        </figure>
      </div>
      <div class="fr-col-8">
        <p class="c-head__metas">
          <span>28 février 2024</span>
          Communiqué de presse
        </p>
        <h2 class="fr-mb-8v">
          Première année de l’opération « 1 jeune, 1 arbre » : plus de 1 200
          classes de tous les niveaux scolaires déjà engagées dans l’opération
        </h2>
        <ul class="fr-tags-group fr-tags-group--condensed fr-mb-6v">
          <li>
            <a class="fr-tag fr-tag--sm" href="/mots-cles/foret">forêt</a>
          </li>
          <li>
            <a class="fr-tag fr-tag--sm" href="/mots-cles/agroforesterie"
              >agroforesterie</a
            >
          </li>
          <li>
            <a
              class="fr-tag fr-tag--sm"
              href="/mots-cles/transition-agroecologique"
              >Transition agroécologique</a
            >
          </li>
          <li>
            <a class="fr-tag fr-tag--sm" href="/mots-cles/sia2024">SIA2024</a>
          </li>
          <li>
            <a class="fr-tag fr-tag--sm" href="/mots-cles/france-nation-verte"
              >France Nation Verte</a
            >
          </li>
        </ul>
        <div class="fr-share">
          <p class="fr-share__title">Partager la page</p>
          <ul class="fr-btns-group">
            <li>
              <a
                data-network="facebook"
                class="fr-btn--facebook fr-btn"
                title="Partager sur Facebook - ouvre une nouvelle fenêtre - Ouverture dans une nouvelle fenêtre"
                href="https://www.facebook.com/sharer.php?u=https://agriculture.gouv.fr/1-jeune-1-arbre-plus-de-1-200-classes-deja-engagees-dans-loperation"
                target="_blank"
                rel="external nofollow noreferrer noopener"
                onclick="window.open(this.href,'Partager sur Facebook','toolbar=no,location=yes,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=450'); event.preventDefault();"
                >Partager sur Facebook</a
              >
            </li>
            <li>
              <!-- Les paramètres de la reqûete doivent être URI-encodés (ex: encodeURIComponent() en js) -->
              <a
                data-network="twitter"
                class="fr-btn--twitter fr-btn"
                title="Partager sur Twitter - ouvre une nouvelle fenêtre - Ouverture dans une nouvelle fenêtre"
                href="https://twitter.com/intent/tweet?url=https://agriculture.gouv.fr/1-jeune-1-arbre-plus-de-1-200-classes-deja-engagees-dans-loperation&amp;text=«&nbsp;1 jeune, 1 arbre&nbsp;»&nbsp;: plus de 1&nbsp;200 classes déjà engagées dans l’opération&amp;via=&amp;hashtags="
                target="_blank"
                rel="external nofollow noreferrer noopener"
                onclick="window.open(this.href,'Partager sur Twitter','toolbar=no,location=yes,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=420'); event.preventDefault();"
                >Partager sur Twitter</a
              >
            </li>
            <li>
              <a
                data-network="linkedin"
                class="fr-btn--linkedin fr-btn"
                title="Partager sur LinkedIn - ouvre une nouvelle fenêtre - Ouverture dans une nouvelle fenêtre"
                href="https://www.linkedin.com/shareArticle?url=https://agriculture.gouv.fr/1-jeune-1-arbre-plus-de-1-200-classes-deja-engagees-dans-loperation&amp;title=«&nbsp;1 jeune, 1 arbre&nbsp;»&nbsp;: plus de 1&nbsp;200 classes déjà engagées dans l’opération"
                target="_blank"
                rel="external nofollow noreferrer noopener"
                onclick="window.open(this.href,'Partager sur LinkedIn','toolbar=no,location=yes,status=no,menubar=no,scrollbars=yes,resizable=yes,width=550,height=550'); event.preventDefault();"
                >Partager sur LinkedIn</a
              >
            </li>
            <li>
              <a
                data-network="mail"
                class="fr-btn--mail fr-btn"
                href="mailto:?subject=«&nbsp;1 jeune, 1 arbre&nbsp;»&nbsp;: plus de 1&nbsp;200 classes déjà engagées dans l’opération&amp;body=«&nbsp;1 jeune, 1 arbre&nbsp;»&nbsp;: plus de 1&nbsp;200 classes déjà engagées dans l’opération https://agriculture.gouv.fr/1-jeune-1-arbre-plus-de-1-200-classes-deja-engagees-dans-loperation"
                title="Partager par email - Ouverture dans une nouvelle fenêtre"
                target="_blank"
                rel="external nofollow noreferrer noopener"
                >Partager par email</a
              >
            </li>
            <li>
              <button
                class="fr-btn--copy fr-btn"
                title="Copier dans le presse-papier"
                onclick="navigator.clipboard.writeText(window.location);alert('Adresse copiée dans le presse papier.');"
              >
                Copier dans le presse-papier
              </button>
            </li>
          </ul>
        </div>
      </div>

      <figure class="fr-quote fr-col-5 fr-mb-10v">
        <blockquote>
          <p>
            <em
              >« L’objectif, posé par le Président de la République, d'1
              milliard d’arbres et de 10% de forêt renouvelée en 10 ans est
              ambitieux et réaliste. La plantation est indispensable pour
              assurer la migration assistée d’essences adaptées au climat plus
              sec ou pour restaurer les forêts détruites pas les incendies, les
              tempêtes ou les insectes ravageurs. En lançant l’opération « 1
              jeune, 1 arbre », nous intégrons la jeunesse à la mobilisation
              collective qui permettra de relever ce défi. Nous sensibilisons
              également les jeunes, acteurs de demain, aux enjeux liés au défi
              du siècle : la transition écologique. »</em
            >
          </p>
        </blockquote>
        <figcaption>
          <p>Christophe Béchu</p>
        </figcaption>
      </figure>

      <figure class="fr-content-media fr-col-7 fr-content-media-sm" aria-label="">
        <img
          class="nods-img"
          style="max-width: 100%;"
          src="https://agriculture.gouv.fr/sites/default/files/Nombre%20de%20classes%20ayant%20plant%C3%A9%20des%20arbres%20en%202023-2024.jpg"
          alt="Nombre de classes ayant planté des arbres en 2023-2024"
        />
        <figcaption class=""></figcaption>
      </figure>
    </div>
  </div>
</template>
