<script>
  const state = { sent: false, isPoiFormOpen: false }
  const methods = {
    localize() {
      this.document.querySelector("lg-map").localize(10)
    },

    async sendMail(event) {
      event.preventDefault()
      const values = Array.from(event.target.elements)
        .filter((input) => input.name)
        .reduce((accumulateur, input) => {
          accumulateur[input.name] = input.value
          return accumulateur
        }, {})
      const created = await store.actions.saveSchoolDemand(values)
      if (created) this.render({ sent: true })
    },
    togglePoiFormModal() {
      const newValue = !state.isPoiFormOpen
      state.isPoiFormOpen = newValue
      this.render({ isPoiFormOpen: newValue })
    },
  }
</script>

<template>
  <div class="hero__startup fr-container-fluid fr-py-6w">
    <!-- <lg-test @toggle="togglePoiFormat"></lg-test>-->
    <!--<lg-poi-form-modal :if="state.isPoiFormOpen === true" @toggle="togglePoiFormModal"></lg-poi-form-modal>-->
  </div>

  <div class="fr-container">
    <section class="fr-grid-row fr-grid-row--gutters">
      <h1>Vous êtes enseignant au collège ?</h1>
      <div class="fr-col-8">
        <h2 class="fr-mb-8v">Faites participer vos élèves à un chantier de plantation !</h2>
        <div class="fr-text--lead">
          <p>Accompagnés par des professionnels locaux, vos élèves pourront participer et/ou visiter des plantations pour mieux comprendre les enjeux environnementaux liés à l’arbre et au renouvellement forestier.</p>
          <p>Avec la plateforme « 1 Jeune 1 Arbre », trouvez une carte qui répertorie des activités pédagogiques sur le thème de l’arbre. Contactez nos partenaires pour organiser votre sortie scolaire en forêt, en campagne (haies, vergers…) ou en ville.</p>
          <p>Les activités de plantation sont ouvertes de l'automne au printemps, en fonction des essences et des territoires.</p>
          <p>Dans le cadre des opérations de plantation proposées, les plants sont fournis mais le déplacement des élèves sur le site de plantation n’est pas financé.</p>
        </div>
      </div>
    </section>

    <section class="fr-grid-row fr-grid-row--gutters fr-py-8w" id="carte-chantiers">
      <div class="fr-col-12">
        <h2>Trouvez une activité</h2>
        <div class="fr-grid-container">
          <div class="fr-grid-row fr-py-2w">
            <div class="fr-col-2">
              <button class="fr-btn fr-btn--primary" @click="localize">Me géolocaliser</button>
            </div>
            <div class="fr-col-12">
              <lg-map></lg-map>
            </div>
          </div>
        </div>
      </div>

      <div class="fr-col-12 fr-container">
        <h2>Vous ne trouvez pas de chantier à proximité de votre établissement ?</h2>
        <p>
          Remplissez le formulaire ci-dessous et nous reviendrons vers vous avec des propositions d'activités pédagogiques.
        </p>

        <form class="fr-grid-row" @submit="sendMail">
          <div class="fr-col-6 fr-p-2v">
            <label class="fr-label" for="contact_name_input">Nom / Prénom</label
            ><input class="fr-input" type="text" id="contact_name_input" name="contact_name" required />
          </div>
          <div class="fr-col-6 fr-p-2v">
            <label class="fr-label" for="email_input">Mail</label
            ><input class="fr-input" type="email" id="email_input" name="email" required />
          </div>
          <div class="fr-col-6 fr-p-2v">
            <label class="fr-label" for="phone_input">Téléphone</label
            ><input class="fr-input" type="tel" id="phone_input" name="phone" required />
          </div>
          <div class="fr-col-6 fr-p-2v">
            <label class="fr-label" for="city_input">Commune de l’établissement</label
            ><input class="fr-input" type="text" id="city_input" name="city" required />
          </div>
          <div class="fr-col-6 fr-p-2v">
            <label class="fr-label" for="school_name_input">Nom de l'établissement</label
            ><input class="fr-input" type="text" id="school_name_input" name="school_name" required />
          </div>
          <div class="fr-col-6 fr-p-2v">
            <label class="fr-label" for="department_input">Département de l'établissement</label
            ><input class="fr-input" type="text" id="department_input" name="department" required />
          </div>
          <div class="fr-col-12 fr-p-2v">
            <p class="fr-text--sm fr-text--info">Ces informations sont confidentielles et ne seront utilisées que pour vous contacter dans le cadre de l'organisation de la sortie.</p>
          </div>
          <div class="fr-col-12 fr-py-2v">
            <button type="submit" class="fr-btn fr-btn--primary">Envoyer ma demande</button>
          </div>
        </form>

        <div :if="state.sent" class="fr-alert fr-alert--success">
          <h3 class="fr-alert__title">Votre demande est envoyée</h3>
          <p>Vous serez très prochainement recontacté par l'organisateur du chantier.</p>
        </div>

      </div>
    </section>

    <section>
      <h3>Nos partenaires</h3>
      <lg-partners></lg-partners>
    </section>
  </div>
</template>
