<template>
  <div class="fr-container fr-py-6w">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-offset-3 fr-col-2 fr-sm-12">
        <img src="/assets/images/logo-teragir.png" alt="Teragir">
      </div>
      <div class="fr-grid-row">
        <div class="fr-col-8">
          <p>
            Teragir est une association soutenue par le ministère de l'Agriculture. Elle crée des ressources pédagogiques pour sensibiliser à l'environnement et à la gestion durable des forêts. Elle adapte ses contenus pour s’adresser à tous niveaux scolaires. Toutes ses productions sont validées par le ministère de l'Éducation nationale et les professionnels de la filière forêt-bois.
          </p>
          <div style="text-align: center;">
            <button class="fr-btn" style="display:inline-block; margin:0 auto"><a href="https://la-foret-et-nous.org/enseignants/" target="_blank">Ressources pédagogiques de TERAGIR</a></button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="fr-grid-row">
      <div class="fr-col-8 fr-py-4w">
        <section>
          <h1>Pourquoi planter des arbres en France ?</h1>
          <p>Les forêts françaises et haies agricoles jouent un rôle clé : elles capturent le carbone, abritent la biodiversité, enrichissent les sols, améliorent l’eau et l’air, et offrent des lieux de loisirs et des emplois.</p>
          <p>Mais elles font face à de nombreuses menaces, comme le changement climatique, les maladies et les catastrophes naturelles. Aujourd’hui, environ 15% des forêts, soit 2,6 millions d’hectares, sont touchées par ces problématiques.</p>
          <p>Pour y répondre, il est essentiel de soutenir la régénération naturelle ou de planter. D’ici 2032, un milliard d’arbres seront plantés pour renouveler 10% des forêts métropolitaines.</p>
          <p>Planter des arbres, ce n’est pas seulement un symbole. C’est un acte qui combine protection de l’environnement, adaptation au climat, développement économique le tout dans un objectifs de gestion durable des forêts.</p>
          <p>1Jeune 1Arbre souhaite faciliter l’implication des jeunes dans ces plantations pour renforcer leur lien avec la nature, les sensibiliser aux enjeux environnementaux et au développement durable.</p>
        </section>
      </div>
    </div>
  </div>
</template>
